@{
    ViewBag.Title = "Register With Us";
}

<h2>Register With Us</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <div class="col-sm-12">
        <span>1</span><h3>Account Info</h3>
        <div class="col-sm-6"><input class="form-control" name="Username" /></div>
        <div class="col-sm-6"><input class="form-control" name="Password" /></div>
        <div class="col-sm-6"><input class="form-control" name="Email" /></div>
        <div class="col-sm-6"><input class="form-control" name="Account Type" /></div>
    </div>
</div>
<div>
    <div class="col-sm-12">
        <span>2</span><h3>Address Info</h3>
        <div class="col-sm-6"><input class="form-control" name="Street Number" /></div>
        <div class="col-sm-6"><input class="form-control" name="Street Name" /></div>
        <div class="col-sm-6"><input class="form-control" name="Street Type" /></div>
        <div class="col-sm-6"><input class="form-control" name="Province" /></div>
        <div class="col-sm-6"><input class="form-control" name="Postal Code" /></div>
    </div>
</div>
<div>
    <div class="col-sm-12">
        <h3>Are you a farmer ?</h3>
        <div class="col-sm-6"><input class="form-control" name="Frame Name" /></div>
    </div>
</div>
