
@{
    ViewBag.Title = "AdminProductAdd";
}

<h2>AdminProductAdd</h2>

   <!--Create product-->
<div class="form-group col-sm-4">
    <h3><b><span class="glyphicon glyphicon-plus"></span> Add Product</b></h3>
    <label for="_Name">ProductID:</label>
    <input type="text" id="txtAdd_id" size="5" class="form-control" />
    <label for="_Name">Name:</label>
    <input type="text" id="txtAdd_name" size="5" class="form-control" />
    <label for="_Price">Price $:</label>
    <input type="text" id="txtAdd_price" size="5" class="form-control" />
    <input type="button" value="Add" onclick="create();" class="form-control" />
    <p id="productCreate" />
</div>

