
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Forgot Password</h2>

@using (Html.BeginForm("ResetPassword", "Home"))
{
    <p>Please enter your email address:</p>
    <input type="text" name="email" placeholder="email@example.com" />
    <input type="submit" value="Submit" />
}
<div>
@Html.Raw(ViewBag.FakeEmailMessage)
</div>

