
@{
    ViewBag.Title = "UserArea";
}

<h2>User Area</h2>
<hr />
<img src="~/Content/imgs/Staff.png" width="200" height="200" />

<div class="jumbotron">
    <p>You are in the secure area which is available to all authenticated users.</p>
</div>

