
@{
    ViewBag.Title = "AboutUs";
}
<link href="~/Style/styles.css" rel="stylesheet" type="text/css" />

<section id="content">

    <!-- Start Container -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                <div id="primary" class="content">
                    <article>
                        <div class="entry_content">
                            <div class="blox_row_fullwidth  skrollable skrollable-between " style="background-image: url(https://www.harrysfresh.com/wp-content/uploads/2014/12/ItalianSpread.jpg); background-position: top center;background-repeat: no-repeat;" data-bottom-top="background-position:50% 0%" data-top-bottom="background-position:50% 100%;">
                                <div class="container">
                                    <div class="wrapper">
                                        <div class="row ">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div style='height:180px'>
                                                </div>
                                                <div class="blox_element blox_elem_heading style5  headline-shadow-48">
                                                    <h2>It’s all about you.</h2>
                                                    <p></p>
                                                </div>
                                                <div class='blox_element tt_text_content  headline-shadow-24'>
                                                    <p>Our success comes directly from our valued customers. We strive to use our connection to local, organic food to help improve the places where we live and work.</p>
                                                </div>
                                                <div style='height:180px'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blox_row_fullwidth  skrollable skrollable-between " style="background-image: url(http://about.spud.com/wrdp/wp-content/uploads/2014/01/partnerss.jpg); background-position: top center;background-repeat: no-repeat;" data-bottom-top="background-position:50% 0%" data-top-bottom="background-position:50% 100%;">
                                <div class="container">
                                    <div class="wrapper">
                                        <div class="row ">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div style='height:180px'>
                                                </div>
                                                <div class="blox_element blox_elem_heading style5  headline-shadow-48">
                                                    <h2>We have awesome partners</h2>
                                                    <p></p>
                                                </div>
                                                <div class='blox_element tt_text_content  headline-shadow-24'>
                                                    <p>2Hour is proud to collaborate with our amazing partners.</p>
                                                </div>
                                                <div style='height:180px'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blox_row_fullwidth light " style="background-image: url(http://about.spud.com/wrdp/wp-content/uploads/2014/01/bins.jpg); background-position: top left;background-repeat: no-repeat;background-attachment: scroll;background-color: #474747;">
                                <div class="container">
                                    <div class="wrapper">
                                        <div class="row ">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div style='height:180px'>
                                                </div>
                                                <div class="blox_element blox_elem_heading style5  headline-shadow-48">
                                                    <h2>We give back to the community</h2>
                                                    <p></p>
                                                </div><div class='blox_element tt_text_content  headline-shadow-24'>
                                                    <p>We collaborate with local organizations to collect food donations for local charities.</p>
                                                </div><div style='height:180px'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blox_row_fullwidth light " style="background-image: url(http://about.spud.com/wrdp/wp-content/uploads/2014/01/social.jpg); background-position: top left;background-repeat: no-repeat;background-attachment: scroll;background-color: #474747;">
                                <div class="container">
                                    <div class="wrapper">
                                        <div class="row ">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div style='height:180px'>
                                                </div>
                                                <div class="blox_element blox_elem_heading style5  headline-shadow-48">
                                                    <h2>Social Enterprise</h2>
                                                    <p></p>
                                                </div>
                                                <div class='headline-shadow-24'>
                                                    <p>A business that uses profits and employment opportunities to help people and the environment.</p>
                                                </div>
                                                <div style='height:180px'>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                </div><!-- end #primary -->
            </div><!-- end grid -->
        </div><!-- end row -->
    </div><!-- end container -->

</section>