
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<marquee behavior="scroll" direction="right">
    <img src="~/Content/imgs/flashing-delivery.gif" />
</marquee>
    <hr />
<div>
    <img src="~/Content/imgs/Real_Canadian_Superstore_Logo.jpg" />
    <img src="~/Content/imgs/safeway-logo.jpg" />
    <img src="~/Content/imgs/walmart.jpg" />
    <img src="~/Content/imgs/richmond farm market.jpg" />
</div>



