
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="~/Prototype/2hours_documentation.html">Design Document</a>
<a href="2hoursprototypebasic.agile-c.com">Prototype Basic</a>
<a href="2hoursprototype1.agile-c.com">Prototype 1</a>
