ul.nav navbar-nav
{ margin:0;}

ul.nav navbar-nav li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;
  background: transparent;}

ul.nav navbar-nav li a
{ float: left;
  font: bold 120% Arial, Helvetica, sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 0px -1px 0px #000;
  padding: 6px 20px 0 20px;
  background: transparent; 
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  color: #FFF;
  text-decoration: none;} 

ul.nav navbar-nav li.current a
{ color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;}

ul.nav navbar-nav li:hover a
{ color: #1D1D1D;
  background: #FFF;
  background: -moz-linear-gradient(#fff, #ccc);
  background: -o-linear-gradient(#fff, #ccc);
  background: -webkit-linear-gradient(#fff, #ccc);
  text-shadow: none;}

.headline-shadow-48 h2 {
    font-weight: 700;
    letter-spacing: -1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-size: 56px;
    color: #fff !important;
    text-align: center;
    margin: 5px 0px 10px 0px !important;
    padding: 0px 0px 5px 0px !important;
}

.headline-shadow-24, .headline-shadow-24 p {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -1px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) !important;
}
.skrollable h2, .skrollable p, .skrollable h3 {
    color: white;
}

.light p {
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}