
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div> 
        @using (Html.BeginForm("ForgotPassword", "Home"))
        {
            <input type="text" name="email" />
            <input type="submit" value="Submit" />
        }
        @Html.Raw(ViewBag.FakeEmailMessage)


    </div>
</body>
</html>
