<header>

    <div class="header_container">
        <h1>Organic Launch</h1>
        <h2>Our Company's Slogan.</h2>
        <a href="#" class="btn btn-primary">Shop Now</a>
        <a href="#scroll_bottom">V</a>
    </div>
    
</header>

<a href="#" id="scroll_bottom"></a>

<section>
    <h2>Who We Are</h2>
    <p>A little description about who we are and what we do and why we love it. Also, we connect farmers and consumers.</p>
    <img src="#" alt="Alternate Text" />
</section>

<section>
    <h2>What We Offer</h2>
    <div>
        <img src="#" alt="Alternate Text" />
        <img src="#" alt="Alternate Text" />
        <img src="#" alt="Alternate Text" />
        <img src="#" alt="Alternate Text" />
    </div>
</section>