
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <div> 

        @using (Html.BeginForm("ResetPassword", "Home"))
        {
            <input type="hidden" value="@ViewBag.PasswordToken" name="passwordToken" />
            <input type="hidden" value="@ViewBag.UserID" name="userID" />
            <label for="password">Please enter your new password: </label>
            <input type="text" name="password" />
            <label for="passwordConfirm">Please confirm your new password: </label>
            <input type="text" name="passwordConfirm" />
            <input type="submit" value="Submit" />
        }
        @Html.Raw(ViewBag.FakeEmailMessage)



    </div>
</body>
</html>
